.logo {
  width: 180px;
  max-height: 65px;
  object-fit: contain;

  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.03);
}

@media (max-width: 768px) {

  .logo {
    width: 145px;
  }

}

